{% extends "baseInnerPages.html" %}

{% block content %}

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <div class="posts">


			
                <h1 class="content-subhead">Справка о системе системе</h1>
                <section class="post">
                    <header class="post-header">


                        <h2 class="post-title">Основные возможности системы</h2>

                        <p class="post-meta">

                        </p>
                    </header>

                    <div class="post-description">
<h1>ПРиложение для заявок на оргтехнику - основные возможности и требования</h1>
<p>Приложение предназначено для того, чтобы работники могли оставлять заявки на покупку оргтехники руководителю.</p>
<p>&nbsp;</p>
<h2>Общий сценарий работы</h2>
<p>1. Работник заполняет заявку указывая пожелания по той оргтехнике, которая ему необходима</p>
<ul>
<li>Поля для заполнения</li>
<li>Заголовок вкратце описывающий заявку - текст не более 300 символов</li>
<li>Описательная часть - подробно расписанная необходимость в технике с конфигурацией до 2000 символов</li>
<li>Желаемая дата до которой критично получить оргтехнику</li>
<li>приблизительная стоимость оргтехники - в рублях от&nbsp;(от 0 до 1000000)</li>
</ul>
<p>2.После заполнения система присвает заявке статус - "Необработана"</p>
<p>3. Администратор системы рассматривает заявку и может выставить один из двух статусов</p>
<p>Заявка Одобрена</p>
<p>Заявка отклонена</p>
<p>4. Пользователь может просматривать статусы своих заявок на отдельной странице</p>
<p>&nbsp;</p>
<p><strong>Доп. особенности</strong></p>
<ul>
<li>Администратор может просматривать статусы заявок всех пользователей</li>
<li>Пользователь имеет возможность отозвать(удалить) свою заявку только до момента её рассмотрения администратором</li>
<li>Администратор по итогам квартала распечатывает заявки и сдает в архив распечатанные копии</li>
</ul>
<p>&nbsp;</p>
<p>Версия системы 0.02b</p>
                    </div>
                </section>

            


            </div>
			



            </div>


{% endblock %}