{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Система заявк на покупку оргтехники</h3>
    <div class="box">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="login" placeholder="Ваш логин" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Ваш пароль">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Залогиниться</button>
        </form>
    </div>
    <div>
        <h1>Программа находится в стадии тестирования</h1>
<p>Для тестирования используйте соедующие аккаунты</p>
<h4>Пользователи системы</h4>
<p><strong>login</strong> user1</p>
<p><strong>password</strong> 12345</p>
<hr />
<p><strong>login</strong> user2</p>
<p><strong>password</strong> 12345</p>
<hr />
<h4>Администратор системы</h4>
<p><strong>login</strong> user3</p>
<p><strong>password</strong> 12345</p>
    </div>
</div>
{% endblock %}